<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  


<mapper namespace="htjs.mapper.ProductMapper">
	<!--开启二级缓存-->
	<cache type="htjs.redis.RedisCache"/>

	<!-- query product -->
	<select id="getAll" parameterType="java.util.Map" resultType="htjs.entity.Product">
		SELECT * FROM product
	</select>

	<!-- update user -->
	<update id="update" parameterType="htjs.entity.Product" flushCache="true">
		UPDATE product SET name=#{name} , price=#{price}  WHERE id=#{id}
	</update>

</mapper>